<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-nabto"
    version="2.1.0">

    <name>Nabto</name>
    <description>Cordova Plugin Nabto</description>
    <license>MIT</license>
    <keywords>cordova,nabto</keywords>

    <js-module src="www/nabto.js" name="nabto">
        <clobbers target="nabto"/>
    </js-module>

    <js-module src="www/nabto-constants.js" name="NabtoConstants">
        <clobbers target="window.NabtoConstants"/>
    </js-module>

    <js-module src="www/nabto-error.js" name="NabtoError">
        <clobbers target="window.NabtoError"/>
    </js-module>

    <js-module src="www/nabto-tunnel-state.js" name="NabtoTunnelState">
        <clobbers target="window.NabtoTunnelState"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Nabto">
                <param name="android-package" value="com.nabto.api.Nabto"/>
            </feature>
        </config-file>

        <framework src="com.nabto.android:nabto-api:1.0.1" />

		<resource-file src="src/android/res/ad.png" target="res/drawable-xxhdpi/ad.png" />
		<resource-file src="src/android/res/ad_land.png" target="res/drawable-xxhdpi/ad_land.png" />
		
		<source-file src="src/android/Nabto.java" target-dir="src/com/nabto/api" />
		<source-file src="src/android/AdService.java" target-dir="src/com/nabto/api" />

        <source-file src="src/nabto/ios/share" target-dir="assets" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
			<TextView xmlns:android="http://schemas.android.com/apk/res/android"
					  android:id="@+id/ad"
					  android:layout_width="wrap_content"
					  android:layout_height="wrap_content"
					  android:background="@drawable/ad" />
			<TextView xmlns:android="http://schemas.android.com/apk/res/android"
					  android:id="@+id/ad_land"
					  android:layout_width="wrap_content"
					  android:layout_height="wrap_content"
					  android:background="@drawable/ad_land" />
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Nabto">
                <param name="ios-package" value="CDVNabto"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVNabto.h" />
        <source-file src="src/ios/CDVNabto.m" />
        <header-file src="src/ios/Manager.h" />
        <source-file src="src/ios/Manager.m" />
        <header-file src="src/ios/AdViewController.h" />
        <source-file src="src/ios/AdViewController.m" />
        <header-file src="src/ios/AdManager.h" />
        <source-file src="src/ios/AdManager.m" />
        <header-file src="src/ios/AdTimeProvider.h" />
        <source-file src="src/ios/AdTimeProvider.m" />
        <header-file src="src/ios/IsShowingAd.h" />
        <header-file src="src/nabto/ios/include/nabto_client_api.h" />

	<resource-file src="src/ios/res/ad.png" target="res/ad.png" />
        <resource-file src="src/nabto/ios/share/nabto/roots" />
        <resource-file src="src/nabto/ios/share/nabto/schemas" />
        <resource-file src="src/nabto/ios/share/nabto/users" />

        <source-file src="src/nabto/ios/lib/libnabto_client_api_static.a" framework="true" />
        <source-file src="src/nabto/ios/lib/libnabto_static_external.a" framework="true" />
    </platform>

    <!-- browser -->
    <platform name="browser">
      <config-file target="config.xml" parent="/*">
	<feature name="Nabto">
	  <param name="browser-package" value="NabtoMock" />
	</feature>
      </config-file>
      
      <js-module src="src/browser/NabtoProxy.js" name="NabtoProxy">
	<runs />
      </js-module>
    </platform>

</plugin>
