<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-nabto"
        version="3.0.1-rc.7">

  <name>Nabto</name>
  <description>Cordova Plugin Nabto</description>
  <license>MIT</license>
  <keywords>cordova,nabto</keywords>

  <!-- iOS uses Swift Package Manager (see Package.swift), which requires cordova-ios 8+. -->
  <engines>
    <engine name="cordova-ios" version=">=8.0.0"/>
  </engines>

  <js-module src="www/nabto.js" name="nabto">
    <clobbers target="nabto"/>
  </js-module>

  <js-module src="www/nabto-constants.js" name="NabtoConstants">
    <clobbers target="window.NabtoConstants"/>
  </js-module>

  <js-module src="www/nabto-error.js" name="NabtoError">
    <clobbers target="window.NabtoError"/>
  </js-module>

  <js-module src="www/nabto-tunnel-state.js" name="NabtoTunnelState">
    <clobbers target="window.NabtoTunnelState"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Nabto">
        <param name="android-package" value="com.nabto.api.Nabto"/>
      </feature>
    </config-file>

    <framework src="src/android/NabtoCordova.gradle" custom="true" type="gradleReference" />

    <resource-file src="src/android/res/ad.png" target="res/drawable-xxhdpi/ad.png" />
    <resource-file src="src/android/res/ad_land.png" target="res/drawable-xxhdpi/ad_land.png" />
    <source-file src="src/android/Nabto.java" target-dir="src/com/nabto/api" />
    <source-file src="src/android/AdService.java" target-dir="src/com/nabto/api" />

    <!-- The Nabto Android client AAR is resolved by Gradle directly from the
         android-client-api GitHub release; see src/android/NabtoCordova.gradle. -->

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
  </platform>

  <!-- ios -->
  <!-- The NabtoClient library is resolved via Swift Package Manager; see Package.swift
       in the plugin root, which depends on https://github.com/nabto/nabto-ios-client. -->
  <platform name="ios" package="swift">
    <config-file target="config.xml" parent="/*">
      <preference name="deployment-target" value="14.5" />
      <feature name="Nabto">
        <param name="ios-package" value="CDVNabto"/>
      </feature>
    </config-file>
    <header-file src="src/ios/include/CDVNabto.h" />
    <source-file src="src/ios/CDVNabto.m" />
    <header-file src="src/ios/include/AdViewController.h" />
    <source-file src="src/ios/AdViewController.m" />
    <header-file src="src/ios/include/AdManager.h" />
    <source-file src="src/ios/AdManager.m" />
    <header-file src="src/ios/include/AdTimeProvider.h" />
    <source-file src="src/ios/AdTimeProvider.m" />
    <header-file src="src/ios/include/IsShowingAd.h" />
    <resource-file src="src/ios/res/ad.png" target="res/ad.png" />
  </platform>

</plugin>
