<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-nabto"
        version="2.8.0-rc2">

  <name>Nabto</name>
  <description>Cordova Plugin Nabto</description>
  <license>MIT</license>
  <keywords>cordova,nabto</keywords>

  <js-module src="www/nabto.js" name="nabto">
    <clobbers target="nabto"/>
  </js-module>

  <js-module src="www/nabto-constants.js" name="NabtoConstants">
    <clobbers target="window.NabtoConstants"/>
  </js-module>

  <js-module src="www/nabto-error.js" name="NabtoError">
    <clobbers target="window.NabtoError"/>
  </js-module>

  <js-module src="www/nabto-tunnel-state.js" name="NabtoTunnelState">
    <clobbers target="window.NabtoTunnelState"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Nabto">
        <param name="android-package" value="com.nabto.api.Nabto"/>
      </feature>
    </config-file>

    <framework src="src/android/NabtoCordova.gradle" custom="true" type="gradleReference" />

    <resource-file src="src/android/res/ad.png" target="res/drawable-xxhdpi/ad.png" />
    <resource-file src="src/android/res/ad_land.png" target="res/drawable-xxhdpi/ad_land.png" />
    <source-file src="src/android/Nabto.java" target-dir="src/com/nabto/api" />
    <source-file src="src/android/AdService.java" target-dir="src/com/nabto/api" />

    <!-- as of cordova 12, it is necessary to use a hackish relative path as it prepends the
         resource with "src/main" causing to not be able to find the .aar file -->
    <resource-file src="aar/nabto-api-release.aar" target="../../libs/nabto-api-release.aar" />

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="NabtoClient" spec="~> 7.3.0-rc4"/>
      </pods>
    </podspec>
    <config-file target="config.xml" parent="/*">
      <preference name="deployment-target" value="14.5" />
      <feature name="Nabto">
        <param name="ios-package" value="CDVNabto"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVNabto.h" />
    <source-file src="src/ios/CDVNabto.m" />
    <header-file src="src/ios/AdViewController.h" />
    <source-file src="src/ios/AdViewController.m" />
    <header-file src="src/ios/AdManager.h" />
    <source-file src="src/ios/AdManager.m" />
    <header-file src="src/ios/AdTimeProvider.h" />
    <source-file src="src/ios/AdTimeProvider.m" />
    <header-file src="src/ios/IsShowingAd.h" />
    <resource-file src="src/ios/res/ad.png" target="res/ad.png" />
  </platform>

</plugin>
